{%extends "base.html"%}
{%block Chats%}
<form method="post" action="{%url 'logout'%}">
    {%csrf_token%}
    <button type="submmit">Log out</button></form>
<h1>Chats</h1>
<form method="get">
    <input type="text" name="chat_name" placeholder="Search" value="{{request.GET.chat_name|default:''}}">
    <button type="submit">Search</button>
</form>
{%if chats%}
{%for chat in chats%}
<p><a href="{%url 'ChatInfo' chat.pk%}">
    {%if chat.user_2 == user%}
    {{chat.user_1.username}}
    {%else%}
    {{chat.user_2.username}}
    {%endif%}
</a></p>
{%endfor%}
{%else%}
<p>Empty</p>
{%endif%}
<hr>
<h3>New chat</h3>
<a href="{%url 'UserSearch'%}">Find users</a>
{%endblock%}
{%block ChatInfo%}
<h1>
    {%if Chat_Info.user_1 == user%}
    <span>{{chat.user_2.username}}</span>
    {%else%}
    <span>{{chat.user_1.username}}</span>
    {%endif%}
</h1>
<div class="messages">
    {%for message in Chat_Info.Messages.all%}
    <div class="message {%if message.sender == user%} my {%else%} other {%endif%}">
        <strong>{{message.sender.username}}</strong>: {{message.text}}<br><small>{{message.created_time|date:"H:i"}}</small>
    </div>
    {%empty%}
    <p>No messages yet</p>
    {%endfor%}
</div>
<div class="container">
{%if messages%}
{%for message in messages%}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
{{message}}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>
{%endfor%}
{%endif%}
<form method="post" action="{%url 'MessageCreate' Chat_Info.pk%}">
    {%csrf_token%}
    <textarea name="text" placeholder="Enter massage" required rows="3"></textarea>
    <button type="submit">Send</button>
</form>

<script>
    document.querySelectorAll("textarea").forEach(el => {
        el.addEventListener("keydown", function(e) {
            if (e.key === "Enter" && !e.shiftKey) {
                e.preventDefault();
                this.form.submit();
            }
        });
    });
    </script>
<script>
    window.onload = function() {
        const textarea = document.querySelector("textarea");
        const messages = document.querySelector(".messages");
    
        // 1. Скрол вниз
        if (messages) {
            messages.scrollTop = messages.scrollHeight;
        }
    
        // 2. Фокус на textarea
        if (textarea) {
            textarea.focus();
            textarea.setSelectionRange(textarea.value.length, textarea.value.length);
        }
    };
    </script>


{%endblock%}
