<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>
    <header>

    </header>
    <body>
        <div class="chat-container">

        <div class="sidebar">
            {%block Chats%}
            

            {%endblock%}
        </div>
        <div class="mainchat">
            {%block ChatInfo%}
            
            {%endblock%}
        </div>
        </div>
    </body>
    <footer>

    </footer>
</body>
</html>